.topbar {
    background-color: #ffffff;
    
}
.logo {

}
.jumbotron {
    
}

.mainmenu {

}

/* .carousel-inner {
    height: 120px;
}
.carousel-inner {
    margin-top: 120px;
} */

.box-info {
    background-color: #0cb4ac;
    margin-top:50px;
    margin-bottom:50px;
    padding: 50px;
    color: #ffffff;
}
.icon-size-big {
    font-size: 50px;
}